.icon-success, .icon-danger {
  font-size: 24px;
}

.icon-success{
  color: rgb(0, 244, 0);
}

.icon-danger{
  color: rgb(244, 0, 0);
}

.status-delete-task {
  display: flex;
  align-items: center;
}

ion-toolbar {
  padding-inline: 20px;
}

ion-content, ion-toolbar, ion-item {
  background: var(--bg-primary);
  --background: var(--bg-primary);
}

ion-item, ion-input {
  --color: var(--text-color);
  color: var(--text-color);
}
