.btn-outline-primary {
  --border-color: var(--primary-color);
  --color: var(--primary-color);
}

ion-content, ion-toolbar, ion-item {
  background: var(--bg-primary);
  --background: var(--bg-primary);
}

ion-item, ion-input {
  --color: var(--text-color);
  color: var(--text-color);
}
