.colorPrimary {
  svg {
    fill: var(--primary-color);
  }
}

.colorTextColor {
  svg {
    path {
      fill: var(--text-color) !important;
    }
  }
}

.colorTextWhite {
  svg {
    path {
      fill: #fff !important;
    }
  }
}

.colorTextColorWhite {
  svg {
    path {
      fill: var(--text-color-white);
    }
  }
}
