<ion-content [fullscreen]="true" [ngClass]="{'dark-mode': isDarkTheme()}">
  <ion-grid style="height: 100%;" [ngClass]="{'dark-mode': isDarkTheme()}">
    <ion-row style="height: 100%;">
      <ion-col sizeMd="3">
        <nav class="nav-sidebar">
          <div class="nav-sidebar-header">
            <ion-icon name="menu" *ngIf="routeActive == 'configuration'"></ion-icon>
            <img src="../../assets/logos/LOGOTIPO PRETO 1.png" alt="logo preta v4">
          </div>
          <div class="nav-sidebar-content">
            <ion-title class="title-link" *ngIf="routeActive == 'configuration'">{{ title || 'TESTE'}}</ion-title>

            <div class="links-nav">
              <div class="link-card" *ngFor="let item of links[routeActive !== 'configuration' ? 'menu' : 'configuration']" [routerLink]="item.url">
                <ion-text>{{item.title}}</ion-text>
              </div>
            </div>

            <div class="profile-complete">
              <ion-text>Complete o seu perfil</ion-text>
              <span id="complete-description">
                Você ainda nao terminou de preencher seu perfil
              </span>
              <div class="loading-complete">
                <div class="percentage-complete">
                  <span>
                    60% feito
                  </span>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </ion-col>
      <ion-col sizeMd="9">
        <ion-header [translucent]="true" class="ion-no-border">
          <ion-toolbar>
            <div class="container-header">
              <ion-title id="title-config">{{ title || 'TESTE'}}</ion-title>
              <div class="content-header">
                <ion-searchbar class="custom" animated="true" placeholder="O que você precisa?"></ion-searchbar>
                <div class="icon-button">
                  <icon-v4 name="messages"></icon-v4>
                </div>
                <div class="icon-button" (click)="toggleDarkMode()">
                  <icon-v4 name="bell"></icon-v4>
                </div>
                <div class="menu-user">
                  <div class="info-user">
                    <ion-label>Nome do usuário</ion-label>
                    <ion-note>cargo</ion-note>
                  </div>
                  <div class="photo-user">
                    <img src="../../assets/images/configuration/user-off.png" alt="user-off">
                  </div>
                </div>
              </div>
            </div>
          </ion-toolbar>
        </ion-header>
        <router-outlet></router-outlet>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
