.container-header {
  display: flex;
  max-height: 100vh;
}
.content-header {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

ion-content {
  height: auto;
}

ion-title,
ion-label,
ion-text {
  color: var(--text-color);
  --color: var(--text-color);
}

ion-grid,
ion-header,
ion-toolbar,
ion-content {
  background-color: var(--bg-primary) !important;
  --background: var(--bg-primary) !important;
}

ion-grid {
  padding: 0 !important;
}

ion-col {
  padding: 0 !important;
}

ion-header {
  border-bottom: 1px solid #d2d2d2;
}

ion-header ion-toolbar {
  height: 100px;

  &,
  ion-toolbar {
    display: flex !important;
    align-items: center;
    padding: 0px 20px 0px 40px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

ion-searchbar.custom {
  --background: #f8f8f8;
  --color: #000;
  --placeholder-color: #00000033;
  --icon-color: #000;
  --clear-button-color: #000;

  --border-radius: 9px;
  --box-shadow: none;
  max-width: 40vw;
}

#title-config {
  flex: 0;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 600;
  line-height: 71px;
  letter-spacing: -0.01em;
}
.icon-button {
  background: #f8f8f8;
  padding-inline: 10px;
  border-radius: 9px;
  height: 42px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-user {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  max-height: 42px;
  margin-left: 10px;
}

.info-user {
  display: flex;
  flex-direction: column;
  gap: 5px;

  ion-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.photo-user {
  position: relative;
  height: 42px;
  width: 42px;
  border-radius: 9px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.nav-sidebar {
  width: 100%;
  height: 100%;
  border-right: 1px solid #d2d2d2;
  background-color: var(--bg-primary) !important;
  color: var(--text-color) !important;
  position: relative;

  &-header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color) !important;
    gap: 10px;

    ion-icon {
      font-size: 28px;
    }

    img {
      width: 120px;
    }
  }
}

.links-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 48px;
  margin-top: 40px;
}
.title-link {
  margin-left: 68px;
  --padding: 0;
  padding: 0 !important;
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.01em;
}
.link-card {
  height: 46px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 9px;
  background-color: #f5f5f5;

  ion-text {
    font-family: "Poppins";
    font-weight: 600;
    margin-left: 20px;
    color: #000;
    --color: #000;
  }
}


.profile-complete {
  background-color: #f5f5f5;
  border-radius: 9px;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  padding: 20px;
  margin-inline: 48px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  border-radius: 9px;

  #complete-description {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.01em;
  }

  ion-text {
    color: #000;
    font-weight: 600;
    font-family: "Poppins";
  }

  .loading-complete {
    width: 100%;
    height: 61px;
    background-color: var(--bg-primary);
    color: var(--text-color-white);
    border-radius: 9px;

    .percentage-complete {
      width: 60%;
      height: 100%;
      background-color: var(--bg-white-primary);
      border-radius: 9px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: -0.01em;
      }
    }
  }
}
