<ion-grid>
  <ion-row>
    <ion-col sizeMd="8">
      <div>
        <ion-row>
          <ion-col sizeSm="12" sizeMd="6" *ngIf="!isMobile">
            <ion-img class="img-user" src="../../../assets/images/configuration/user-off.png"
              alt="Imagem com a logo da V4"></ion-img>
          </ion-col>
          <ion-col sizeSm="12" sizeMd="6" class="card-pdi">
            <ion-row>
              <ion-img class="img-user-mobile" src="../../../assets/images/configuration/user-off.png"
                alt="Imagem com a logo da V4" *ngIf="isMobile"></ion-img>
              <ion-col>
                <ion-row>
                  <ion-text>
                    {{ nomeUsuario }}
                  </ion-text>
                </ion-row>
                <ion-row>
                  <ion-note>
                    {{ cargoNome }}
                  </ion-note>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-col class="form-user">
              <ion-row *ngIf="!!nomeLideranca">
                <ion-input label="Lideração imediata" disabled="true" [value]="nomeLideranca" placeholder="Nome do team leader"></ion-input>
              </ion-row>
              <ion-row>
                <ion-input label="Data do último alinhamento do PDI" placeholder="Data atualizada"></ion-input>
              </ion-row>
              <ion-row *ngIf="!!tempoDeEmpresa">
                <ion-input label="Tempo de V4 Company" placeholder="Coloque a data da contratação"></ion-input>
              </ion-row>
            </ion-col>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
    <ion-col sizeSm="12" sizeMd="4">
      <div class="goal-term">
        <ion-row>
          <ion-label>Minha meta é</ion-label>
          <ion-input label="Coloque aqui a sua meta" labelPlacement="floating"></ion-input>
          <ion-note>Preenchido no dia 27/10/2023 às 17h55hs</ion-note>
        </ion-row>
        <ion-row class="term-label">
          <ion-label>Prazo estimado</ion-label>
          <ion-input label="Prazo possível para alcançar sua meta" labelPlacement="floating"></ion-input>
          <ion-note>Preenchido no dia 27/10/2023 às 17h55hs</ion-note>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 5px;">
    <ion-col style="padding: 0; padding-right: 5px;" sizeMd="8" sizeSm="12">
      <div class="actions-goal">
        <ion-title>Ações para alcançar seu objetivo</ion-title>
        <ion-row>
          <ion-col size="12" class="item-check" *ngFor="let item of checklist"
            [ngClass]="{'check-disabled': item?.disabled}">
            <ion-checkbox labelPlacement="end" [disabled]="item?.disabled">{{item.label}}</ion-checkbox>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
    <ion-col [ngStyle]="{'padding: 0; padding-left: 5px;': !isMobile}" sizeMd="4" sizeSm="12">
      <ion-row>
        <ion-col class="trophy-upload" sizeSm="5" sizeMd="12" [ngClass]="{'mt-10': isMobile}">
          <ion-row>
            <ion-title>Conquistas</ion-title>
            <div class="box-trophy">
              <icon-v4 class="colorTextColor" name="trophy"></icon-v4>
            </div>
          </ion-row>
          <ion-row>
            <ion-text id="sub-title-trophy">Faça o upload dos seus certificados aqui</ion-text>
          </ion-row>
          <ion-row class="mt-20 ion-justify-content-center">
            <icon-v4 class="colorTextColorWhite" name="cloud-upload"></icon-v4>
          </ion-row>
        </ion-col>
        <ion-col class="content-recognition" sizeSm="6" offsetSm="1" sizeMd="12" offsetMd="0">
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-title>Reconhecimento da equipe</ion-title>
            <icon-v4 name="eye"></icon-v4>
          </ion-row>
          <ion-row>
            <ion-col id="user-recognition" size="12" *ngFor="let item of list; let i = index">
              <ion-row class="ion-justify-content-between ion-align-items-center">
                <ion-img src="../../../assets/images/configuration/user-off.png" alt="user-off"></ion-img>
                <div id="name-message">
                  <ion-text>{{item.name}}</ion-text>
                  <ion-text>{{item.message}}</ion-text>
                </div>
                <ion-icon [name]="getCheck(item)" (click)="toggleCheck(i);" color="danger"></ion-icon>
              </ion-row>
            </ion-col>

            <ion-col sizeMd="12">
              <ion-button>
                Quero deixar um elogio
                <ion-icon slot="end" name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="awards-pdi">
    <ion-row>
      <ion-title>
        Prêmios
      </ion-title>
    </ion-row>
    <ion-row>
      <ion-col class="photo-awards" sizeMd="2" sizeSm="4" *ngFor="let award of awards">
        <ion-img [src]="award?.url" [alt]="award?.type"></ion-img>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-grid>