ion-grid {
  max-height: calc(100% - 100px);
  height: calc(100% - 100px);
  overflow-y: auto;
}

ion-item {
  --inner-padding-end: 0;
}

ion-list {
  --border-radius: 9px;
  border-radius: 9px;

  ion-item {
    --background: transparent;
    background: transparent;
  }
}

.icon-trash {
  --color: var(--primary-color);
  color: var(--primary-color);
}

.img-logo-pdi {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  --border-radius: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.reorder-btn {
  position: absolute;
  left: 2px;
  top: 0;
  background: transparent;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

ion-card {
  ion-col {
    margin: 0 !important;
    padding: 0 !important;
  }
}

table {
  box-shadow: none !important;
  border: 1px solid var(--border-card);
  border-radius: 10px;
  border-collapse: unset !important;
}

.pdi-status {
  width: 100%;
  max-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--success);
  border-radius: 5px;
  padding: 5px 0px;

  ion-text {
    --color: #fff;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
  }
}

.pdi-status-danger {
  background-color: var(--danger) !important;
}
