ion-header ion-toolbar {
  --background: var(--header-transparent);
  --color: #fff;
  position: absolute;
  height: 100px;
}

ion-toolbar {
  display: flex !important;
  align-items: center;
  padding: 0px 20px 0px 40px;
}

.info-access {
  background-image: url("../../assets/images/access/v4_initial_mobile.png");
  height: -webkit-fill-available;
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;

  &-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    height: calc(30vh + 100px);

    .access-box {
      width: 100vw;
      height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-weight: 600;
        color: #fff;
        font-size: 13px;
        width: 90vw;
        border: 0.99px solid rgba(255, 255, 255, 0.5);
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        max-width: 500px;
      }
    }
  }

  .message-boost-business {
    background-color: var(--card-transparent);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      margin: 0;
      font-size: 32px;
      font-size: 500;
      background: -webkit-linear-gradient(#ececec 20.35%,
          rgba(236, 236, 236, 0) 128.73%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .info-access-register {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: center;
      color: rgb(236, 236, 236);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      padding: 0px 20px;
    }

    #btn-register {
      --background: linear-gradient(92.69deg,
          rgba(0, 0, 0, 0.5) 26.34%,
          rgba(0, 0, 0, 0) 99.46%);
      --background-hover: none;
      --background-activated: none;
      --box-shadow: none;
    }
  }
}

.container-example-dashboard {
  padding-inline: 10px;

  .example-dashboard {
    width: 100%;
    height: auto;
    border-radius: 15px;
    position: relative;
    z-index: 10;
    margin-top: -40px;
    box-shadow: -5px 3px 18.399999618530273px 5px rgba(0, 0, 0, 0.25);

    &-header {
      background: rgba(0, 0, 0, 1);
      width: 100%;
      min-height: 100px;
      display: flex;
      align-items: center;
      color: #fff !important;
      gap: 20px;
      padding-inline: 30px;
      font-size: 26px;
      border-radius: 15px 15px 0 0;

      #view-icon {
        margin-left: auto;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      padding-inline: 10px;
      gap: 20px;

      .example-pdc,
      .example-pdi {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 6.14px;
        padding: 20px;

        &-title {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;

          span {
            font-family: Poppins;
            font-size: 19px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: -0.01em;
          }

          .redirect-icon {
            width: 40px;
            height: 40px;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            ion-icon {
              font-size: 22px;
              transform: rotate(-45deg);
            }
          }
        }
      }

      .example-pdc {
        background: rgba(24, 24, 24, 1);
        gap: 20px;

        &-title {
          span {
            color: var(--white-text-color);
          }

          .redirect-icon {
            background-color: var(--dark-grey-color);

            ion-icon {
              color: var(--grey-text-color);
            }
          }
        }

        &-progress {
          &-label {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;

            span {
              color: var(--white-text-color);
              font-family: Poppins;
              font-weight: 600;
              line-height: 18px;
              letter-spacing: -0.01em;
            }
          }
        }
      }

      .example-pdi {
        background: var(--secondary-color);
        gap: 40px;

        &-title {
          span {
            color: var(--black-text-color);
          }

          .redirect-icon {
            background-color: var(--light-green-color);

            ion-icon {
              color: var(--dark-green-color);
            }
          }
        }

        .progress-achievements,
        .box-progress,
        .box-achievements {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          gap: 10px;
        }

        .box-progress,
        .box-achievements {
          span {
            font-family: Poppins;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: -0.01em;
            color: var(--dark-green-color);
          }

          ion-icon {
            font-size: 22px;
            padding: 20px;
            color: var(--dark-green-color);
            background-color: var(--light-green-color);
            border-radius: 7.45px;
          }
        }

        .in-progress {
          padding-block: 5px;
          display: flex;
          flex-direction: column;
          gap: 5px;

          &-title {
            font-weight: 600;
          }

          &-description {
            font-weight: 400;
          }
        }

        .my-goal {

          h4,
          h3 {
            letter-spacing: -0.01em;
            font-family: Poppins;
            margin: 0;
          }

          h4 {
            line-height: 18px;
            font-weight: 600;
            font-size: 12px;
            color: var(--dark-green-color);
          }

          h3 {
            font-size: 16px;
            font-style: italic;
            font-weight: 500;
            line-height: 23px;
            text-align: left;
            color: var(--dark-green-color-opacity);
          }
        }
      }

      .example-analytics {
        background-image: url("../../assets/images/access/v4_inicial_water.png");
        width: 100%;
        height: 250px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6.14px;
        display: flex;
        align-items: center;
        padding-inline: 10px;

        &-progress {
          flex: 1;
        }

        &-cards {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 5px;

          div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            color: var(--white-text-color);
            height: 50px;
            background: rgba(255, 255, 255, 0.35);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 6px;
            padding-inline: 10px;
          }
        }
      }
    }

  }
}

.more-control {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 20px;

  h3 {
    margin: 0;
  }

  &-analytic,
  &-personalization,
  &-collaborative {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 60px;
    border-radius: 11px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0px -1.2733564376831055px 25.46712875366211px 0px rgba(187, 155, 255, 0.15);

    span {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: justified;
    }

    &-icon {
      width: 31px;
      height: 31px;
      border-radius: 6px;
    }
  }

  &-analytic {
    &-icon {
      background-color: rgba(89, 29, 221);
      box-shadow: 0px 0px 23.20989227294922px 0px rgba(89, 29, 221, 0.75);
    }
  }

  &-personalization {
    &-icon {
      background-color: rgba(149, 37, 201);
      box-shadow: 0px 0px 23.20989227294922px 0px rgba(149, 37, 201, 0.75);
    }
  }

  &-collaborative {

    &-icon {
      background-color: rgba(201, 37, 171);
      box-shadow: 0px 0px 25.122318267822266px 0px rgba(201, 37, 171, 0.75);
    }
  }
}

//media only desktop
@media only screen and (min-width: 480px) {
  .info-access {
    background-image: url('../../assets/images/access/img_v4.png') !important;
    height: 100dvh;

    &-message {


      .access-box {


        span {
          font-size: 16px;
        }
      }
    }

    .message-boost-business {
      background-color: transparent;

      h1 {
        max-width: 1000px;
        font-size: 50px;
      }
    }

    .info-access-register {


      p {
        max-width: 800px;
      }

      #btn-register {}
    }
  }

  .links-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    gap: 60px;

    ion-text {
      color: rgba(204, 204, 204, 1);
      cursor: pointer;
    }

    ion-text:hover {
      color: #ffffff;
    }
  }
}
