<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/logos/LOGOTIPO V4 COMPANY (BRANCO) 1.png" alt="Imagem com a logo da V4">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="info-access">
    <div class="info-access-message">
      <div class="access-box">
        <span>
          Sua jornada de crescimento começa agora.
        </span>
      </div>
    </div>
    <div class="message-boost-business">
      <h1>Potencialize seu sucesso com a V4 Company</h1>
    </div>
    <div class="info-access-register">
      <p>Descubra uma maneira revolucionária de simplificar processos e impulsionar seu negócio. Nosso sistema oferece
        uma abordagem inovadora para a gestão, proporcionando flexibilidade, escalabilidade e desempenho incomparáveis.
      </p>
      <ion-button id="btn-register" shape="round">Cadastrar-se
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="container-example-dashboard">
    <div class="example-dashboard">
      <div class="example-dashboard-header">
        <ion-icon name="menu-outline"></ion-icon>
        <img src="../../assets/logos/LOGOTIPO V4 COMPANY (BRANCO) 1.png" alt="Imagem com a logo da V4">
        <ion-icon id="view-icon" name="eye-outline"></ion-icon>
      </div>
      <div class="example-dashboard-content">
        <h1>
          Dashboard
        </h1>
        <div class="example-pdc">
          <div class="example-pdc-title">
            <span>
              Account manager | PDC
            </span>
            <div class="redirect-icon">
              <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
            </div>
          </div>
          <div class="example-pdc-progress">
            <div class="example-pdc-progress-label">
              <span style="font-size: 12px;">
                Nível V2
              </span>
              <span style="font-size: 9px;">
                Faltam 04 steps para o nível V3
              </span>
            </div>
          </div>
        </div>
        <div class="example-pdi">
          <div class="example-pdi-title">
            <span style="max-width: 270px;">
              Plano de desenvolvimento individual | PDI
            </span>
            <div class="redirect-icon">
              <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
            </div>
          </div>
          <div class="progress-achievements">
            <div class="box-progress">
              <ion-icon name="trending-up-outline"></ion-icon>
              <div class="in-progress">
                <span class="in-progress-title">
                  Em progresso
                </span>
                <span class="in-progress-description">
                  04 / 12 ações
                </span>
              </div>
            </div>
            <div class="box-achievements">
              <ion-icon name="trophy-outline"></ion-icon>
              <div class="in-progress">
                <span class="in-progress-title">
                  Conquistas
                </span>
                <span class="in-progress-description">
                  03 Certificados
                </span>
              </div>
            </div>
          </div>
          <div class="my-goal">
            <h4>Minha meta é</h4>
            <h3>Coloque sua meta aqui</h3>
          </div>
        </div>
        <div class="example-analytics">
          <div></div>
          <div class="example-analytics-cards">

          </div>
        </div>
        <ion-segment [scrollable]="true" value="heart">
          <ion-segment-button value="home">
            <ion-icon name="home"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="heart">
            <ion-icon name="heart"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="pin">
            <ion-icon name="pin"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="star">
            <ion-icon name="star"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>
</ion-content>
