<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="isMobile">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img slot="start" src="../../assets/logos/LOGOTIPO V4 COMPANY (BRANCO) 1.png" alt="Imagem com a logo da V4"></ion-img>
    <div class="links-desktop" *ngIf="!isMobile">
      <ion-text>
        Sobre
      </ion-text>
      <ion-text>
        Dashboard
      </ion-text>
      <ion-text>
        Planos
      </ion-text>
    </div>
    <ion-buttons slot="end" *ngIf="!isMobile">
      <ion-button fill="clear" [routerLink]="['/register']">Cadastro</ion-button>
      <ion-button class="btn-login" [routerLink]="['/login']">
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="info-access">
    <ion-img class="background-info-access" alt="Imagem de fundo pagina inicial" src="../../assets/images/access/image_compress.jpg" *ngIf="!isMobile"></ion-img>
    <ion-img class="background-info-access" alt="Imagem de fundo pagina inicial" src="../../assets/images/access/v4_initial_mobile.png" *ngIf="isMobile"></ion-img>
    <div class="info-access-message">
      <div class="access-box">
        <span>
          Sua jornada de crescimento começa agora.
        </span>
      </div>
    </div>
    <div class="message-boost-business">
      <h1>Potencialize seu sucesso com a V4 Company</h1>
    </div>
    <div class="info-access-register">
      <p>Descubra uma maneira revolucionária de simplificar processos e impulsionar seu negócio. Nosso sistema oferece
        uma abordagem inovadora para a gestão, proporcionando flexibilidade, escalabilidade e desempenho incomparáveis.
      </p>
      <ion-button id="btn-register" shape="round">Cadastrar-se
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="container-example-dashboard" *ngIf="isMobile">
    <ion-img class="example-dashboard" src="../../assets/images/access/dashboard_example.png" alt="Exemplo de um dashboard"></ion-img>
  </div>
  <div class="container-example-img" *ngIf="!isMobile">
    <ion-img id="img-dashboard-desktop" src="../../assets/images/access/dashboard_desktop.png"></ion-img>
  </div>
  <div class="more-control">
    <h3 class="more-control-title">Maior controle sobre sua empresa</h3>
    <span class="more-control-description">Com uma interface intuitiva, suporte dedicado e funcionalidades robustas,
      nosso SaaS é projetado para atender às suas necessidades exclusivas.</span>
    <div class="more-control-analytic">
      <div class="more-control-analytic-icon">

      </div>
      <h3>
        Dashboard analítico
      </h3>
      <span>
        Nosso Dashboard fornece uma interface clara e intuitiva para você analisar facilmente seus dados. Desde gráficos
        personalizáveis ​​até atualizações de dados em tempo real, nosso painel oferece tudo que você precisa para obter
        insights valiosos.
      </span>
      <a href="">Ver dashboard</a>
    </div>
    <div class="more-control-personalization">
      <div class="more-control-personalization-icon">

      </div>
      <h3>Personalização</h3>
      <span>Nosso dashboard é focado na personalização dos processos e alinhamento com as expectativas e resultados da
        empresa. Assim, é possível realizar uma análise mais intuitiva e clara dos dados.</span>
      <a href="">Personalização da plataforma</a>
    </div>
    <div class="more-control-collaborative">
      <div class="more-control-collaborative-box">
        <div class="more-control-collaborative-icon">

        </div>
        <h3>Código colaborativo</h3>
        <span>Nossa avançada tecnologia de sincronização de código garante que seus dados estejam sempre atualizados e
          precisos, não importa de onde venham. Esteja você integrando dados de diversas fontes ou trabalhando com uma
          equipe de desenvolvedores, nossa tecnologia de sincronização facilita a colaboração e garante que seus dados
          sejam consistentes e confiáveis.</span>
        <a href="">Ver código colaborativo</a>
      </div>
      <img *ngIf="!isMobile" src="../../assets/images/access/codigo.png" alt="">
    </div>
  </div>
  <div class="footer-access">
    <img src="../../assets/images/access/logo_footer.png" alt="logo v4 Company">
  </div>
</ion-content>
