
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat.define-palette(mat.$indigo-palette);
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);

:root {
  --primary-color: #db0001;
  --secondary-color: #56f294;
  --create-bg: #0BB07B;
  --tertiary-color: #181818;
  --header-transparent: rgba(0, 0, 0, 0.75);
  --card-transparent: rgba(0, 0, 0, 0.35);
  --white-text-color: #fff;
  --black-text-color: #000;
  --grey-text-color: #a3a3a3;
  --dark-grey-color: #464646;
  --dark-green-color: #005a24;
  --dark-green-color-opacity: rgba(0, 97, 39, 0.25);
  --light-green-color: #ceffe2;
  --light-blue: #00a0fa;
  --bg-primary: #fff;
  --bg-card: #fff;
  --bg-white-primary: #000;
  --text-color: #000;
  --text-color-white: #fff;
  --bg-button-grey: #F4F4F4;
  --bg-item-grey: #F4F4F4;
  --bg-card-black: #181818;
  --bg-modal: #ffffff;
  --subtext-color-card: #585858;
  --bg-card-green: #56F294;
  --border-card-green: #56F294;
  --text-card-green: #005a24;
  --border-card: #E0E0E0;
  --bg-menu:#181818;
  --bg-card-secondary: #2E3033;
}

.dark-theme {
  --primary-color: #db0001;
  --secondary-color: #56f294;
  --create-bg: #0BB07B;
  --tertiary-color: #181818;
  --header-transparent: rgba(255, 255, 255, 0.75);
  --card-transparent: rgba(255, 255, 255, 0.35);
  --white-text-color: #fff;
  --black-text-color: #000;
  --grey-text-color: #a3a3a3;
  --dark-grey-color: #464646;
  --dark-green-color: #005a24;
  --dark-green-color-opacity: rgba(0, 97, 39, 0.25);
  --light-green-color: #ceffe2;
  --light-blue: #00a0fa;
  --bg-primary: #000;
  --bg-card: #000;
  --bg-white-primary: #fff;
  --text-color: #fff;
  --text-color-white: #000;
  --bg-button-grey: #F4F4F4;
  --bg-item-grey: #F4F4F4;
  --bg-card-black: #E6E6E6;
  --bg-modal: #181818;
  --subtext-color-card: #E6E6E6;
  --bg-card-green: #00FFAD4D;
  --border-card-green: #00FF0A;
  --text-card-green: #005a24;
  --border-card: #E0E0E0;
  --bg-menu:#333333;
  --bg-card-secondary: #2E3033;
}

.dark-theme-pdc {
  --primary-color: #db0001;
  --secondary-color: #56f294;
  --create-bg: #0BB07B;
  --tertiary-color: #181818;
  --header-transparent: rgba(255, 255, 255, 0.75);
  --card-transparent: rgba(255, 255, 255, 0.35);
  --white-text-color: #fff;
  --black-text-color: #000;
  --grey-text-color: #a3a3a3;
  --dark-grey-color: #464646;
  --dark-green-color: #005a24;
  --dark-green-color-opacity: rgba(0, 97, 39, 0.25);
  --light-green-color: #ceffe2;
  --light-blue: #00a0fa;
  --bg-primary: #1a1b1e;
  --bg-card: #000;
  --bg-white-primary: #fff;
  --text-color: #fff;
  --text-color-white: #000;
  --bg-button-grey: #F4F4F4;
  --bg-item-grey: #F4F4F4;
  --bg-card-black: #E6E6E6;
  --bg-modal: #181818;
  --subtext-color-card: #E6E6E6;
  --bg-card-green: #00FFAD4D;
  --border-card-green: #00FF0A;
  --text-card-green: #005a24;
  --border-card: #E0E0E0;
  --bg-menu:#333333;
  --bg-card-secondary: #2E3033;
}

html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}

html, body { height: 100%; }
body { margin: 0; }
