

<ion-content [fullscreen]="true">
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col sizeMd="3">
        <nav class="nav-sidebar">
          <div class="nav-sidebar-header">
            <ion-icon name="menu"></ion-icon>
            <img src="../../assets/logos/LOGOTIPO PRETO 1.png" alt="logo preta v4">
          </div>
        </nav>
      </ion-col>
      <ion-col sizeMd="9">
        <ion-header [translucent]="true" class="ion-no-border">
          <ion-toolbar>
            <div class="container-header">
              <ion-title id="title-config">Configuração</ion-title>
              <div class="content-header">
                <ion-searchbar class="custom" animated="true" placeholder="Animated"></ion-searchbar>
                <div class="icon-button">
                  <icon-bell></icon-bell>
                </div>
                <div class="icon-button">
                  <icon-messages></icon-messages>
                </div>
                <div class="menu-user">
                  <div class="info-user">
                    <ion-label>Nome do usuário</ion-label>
                    <ion-note>cargo</ion-note>
                  </div>
                  <div class="photo-user">
                    <img src="../../assets/images/configuration/user-off.png" alt="user-off">
                  </div>
                </div>
              </div>
            </div>
          </ion-toolbar>
        </ion-header>
        <ion-content>

        </ion-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
