table {
  box-shadow: none !important;
  border: 1px solid var(--border-card);
  border-radius: 10px;
  border-collapse: unset !important;
}

.border-secondary {
  border: 1px solid var(--secondary);
}
