<ion-grid>
  <ion-row>
    <ion-col sizeMd="10" offsetMd="1">
      <ion-item [formGroup]="newPdiForm">
          <ion-select aria-label="Usúario" interface="popover" placeholder="Selecione o usuário responsável" formControlName="userId">
            <ion-select-option [value]="user.value" *ngFor="let user of listUsers">{{user.label}}</ion-select-option>
          </ion-select>
        <ion-input label="Novo PDI" placeholder="Digite o título do PDI" formControlName="name"></ion-input>
        <ion-button shape="round" fill="outline" slot="end" (click)="createdPdi()" class="btn-outline-primary">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="listPdi.length > 0">
    <ion-col sizeMd="10" offsetMd="1">
      <ion-list>
        <ion-list-header>
          <ion-title>PDI's</ion-title>
        </ion-list-header>
        <ion-card *ngFor="let pdi of listPdi" >
          <ion-row class="ion-align-items-center">
            <ion-img class="img-logo-pdi" src="../../../../../assets/images/configuration/user-off.png"
              alt="Imagem do usuário" (click)="openUserSelect(pdi)"></ion-img>
            <ion-item lines="none" color="transparent" style="flex: 1;" >
              <ion-col slot="start" (click)="openPdiTasks(pdi)">
                <ion-label>{{ pdi.name }}</ion-label>
                <ion-note>{{ pdi.selectedUser?.name || 'Nenhum usuário selecionado' }}</ion-note>
              </ion-col>
              <ion-button shape="round" fill="clear" slot="end" (click)="deletePdi(pdi.id)">
                <ion-icon slot="icon-only" name="trash-outline" class="icon-trash"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-row>
        </ion-card>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
