<ion-content [fullscreen]="true">
    <div class="container-login" [formGroup]="loginForm">
      <ion-img src="../../assets/logos/LOGOTIPO VERMELHO 1.png"></ion-img>
      <div class="login-title">
        <ion-title>Acesso ao seu PDC I V4 Company</ion-title>
        <ion-text>Login em sua conta</ion-text>
      </div>
        <ion-grid fixed style="height: 100%;">
          <ion-row class="ion-justify-content-center space-block">
            <ion-col size="10">
              <ion-input label="Email de cadastro" labelPlacement="stacked" required errorText="Campo obrigatório *" placeholder="Digite o seu email V4 Company" type="email" formControlName="email"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center space-block" >
            <ion-col size="10">
              <ion-button expand="block" class="btn-send-login" (click)="login()" [disabled]="!loginForm.valid">Enviar e-mail de recuperação</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
</ion-content>
