/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

ion-header {
  --background: var(--black-transparent) !important;
}

ion-input {
  --border-color: var(--primary-color) !important;
  --highlight-color-focused: #000;
  --highlight-color-invalid: #DB0001;
}


.colorTextColor {
  svg {
    fill: var(--text-color);
  }
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.menu-list {
  ion-list, ion-item {
    --background: var(--bg-menu);
    background: var(--bg-menu);
    ion-label, ion-icon {
      --color: #fff;
      color: #fff !important;
    }
  }
}

ion-popover::part(content) {
  border-radius: 17px !important;
  --border-radius: 17px !important;
}
