<ion-list>
  <ion-item style="border-bottom: 0.5px solid #FFFFFF">
    <ion-icon *ngIf="headerMenu?.icon" [name]="headerMenu.icon" slot="start"></ion-icon>
    <ion-label>
      <h2>{{ headerMenu?.label }}</h2>
      <p>{{ headerMenu?.subLabel }}</p>
    </ion-label>
  </ion-item>
  <ion-item *ngFor="let item of menuItems" button (click)="onItemClick(item)" lines="none">
    <ion-icon *ngIf="item?.icon" [name]="item?.icon" slot="start"></ion-icon>
    <ion-label>{{ item?.label }}</ion-label>
  </ion-item>

  <ion-item button lines="none" style="border-top: 0.5px solid #FFFFFF" (click)="footerMenu.onClick()">
    <ion-icon *ngIf="footerMenu?.icon" [name]="footerMenu?.icon" slot="start"></ion-icon>
    <ion-label>{{ footerMenu?.label }}</ion-label>
  </ion-item>
</ion-list>
