
  <ion-grid>
      <ion-row>
        <ion-col sizeMd="6">
          <ion-row>
            <ion-col sizeMd="3">
              <div class="logo-company-upload">
              <icon-v4 name="import-photo"></icon-v4>
              <ion-text>
                Upload da logo da sua empresa
              </ion-text>
              </div>
            </ion-col>
            <ion-col offsetMd="1" sizeMd="8"></ion-col>
          </ion-row>
        </ion-col>
        <ion-col sizeMd="6"></ion-col>
      </ion-row>
    </ion-grid>
